#titlu{
	position:absolute;
	margin:2%;
	margin-left:4%;
	font-size:1.6vw;
	font-style:bold;
}

#ecuatie{
	position:absolute;
	margin:2%;
	top:8%;
	left:0
}

#rezBtn{
	background-color:black;
	color:cyan;
	font-size:1vw;
	padding:2.5%;
}

#rezultat{
	position:absolute;
	margin:2%;
	top:40%;
}